<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quizzity</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav class="header">
      <a href="/" class="logo">Quizzity</a>
      <div class="navbar">
        <a href="#">About</a>
        <a href="/quizzes">Our Quizzes</a>
        <a href="/quizzes/new-quiz">Create Quiz</a>
        <a href="">login</a>
        <a href="">feedback</a>
      </div>
    </nav>
    <section class="home">
      <div class="home-content">
        <h1>Quizzity</h1>
        <p>
          Challenge your mind, expand your horizons. Welcome to a world where every question brings you closer to enlightenment."

"Dive into the ocean of knowledge, where each quiz is a treasure waiting to be discovered. Are you ready to embark on your quest?"
        </p>
        <a class="btn" href="/quizzes">Go to Quizzes</a>
      </div>
    </section>
  </body>
</html>
