@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  background: #09001d;
  
  /* overflow: hidden; */
}

.header {
  position: fixed;
  width: 100%;
  padding: 20px 10%;
  background-color: rgb(153, 127, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.logo {
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  background-color:  rgb(153, 127, 255);
}
.navbar a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 0px 0px ;
  
  background-color: rgb(153, 127, 255) ;
  padding:10px 11px ;
  
}
.navbar a:hover {
  color: red;
}

.home {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-content h1 {
  font-size: 78px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.home-content p {
  font-size: 16px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  background: #c40094;
  border: 2px solid #c40094;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}

